@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


body{
    font-family: "Azeret Mono", monospace;
}
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

/* banner-section  */
.banner-section{
width:1440px;
height:652px;
margin:0 auto;
margin-top: 131px;
background-image: url("../assets/Hero-bg.png");
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.banner-content{
    width:998px;
    height:581px;
    display: flex;

    flex-direction: column;
    align-items: center;
}
.banner-content .banner-img{
    width:240.28px;
    height:240px;
   margin-bottom: 32px;
}
.banner-title{
    width:998px;
    font-family: Azeret Mono;
    font-size: 38px;
    font-weight: ExtraBold;
    color:#0D1321;
    margin-bottom: 24px;
    
}
.banner-title span{
    display: flex;
    justify-content: center;
}
.banner-description{
    width:852px;
    height:52px;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: Regular;
    color:rgba(13, 19, 33, 0.714);
    margin-bottom: 32px;
}
.first-btn{
    width:244px;
    height:65px;
    background-color: #0D1321;
    border-radius: 7px;
}
.first-btn span{
    width:196px;
    height:23px;
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: SemiBold;
    color:#FFFFFF;
}
.dev-information{
    width:1140px;
    height:1393px;
    /* border:2px solid red; */
    margin:148px 152px;
    margin-top: 74px;
    display: flex;
    flex-direction: column;
    background-color: rgba(13, 19, 33, 0.02);
    
}
.dev-section{
    width:946px;
    height:1233px;
    /* border:2px solid black; */
    margin-left: 97px;
    margin-right: 97px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.dev-title-section{
    width:852px;
    height:113px;
    /* border:2px solid yellow; */
    display:flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 80px; */
    margin-left: 47px;
margin-right: 47px;
margin-bottom: 48px;
}
.dev-title-section h2{
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: ExtraBold;
    color:#0D1321;
}

.dev-title-section p{
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight:Regular;
    color:rgba(13, 19, 33, 0.714);
    margin-top: 24px;
}
.dev-content{
    width:946px;
    height:336px;
    /* border:2px solid blue; */
    margin-bottom: 32px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.dev-content .dev-content-description{
    width:850px;
    height:240px;
    /* border:2px solid green; */
    margin:48px auto;
 
}
/* first-content-style */
.first-content-des{
display:flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
    
}
.first-part{
    width:477px;
    height:219px;
}


.first-part h3{
    width:392px;
    height:72px;
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight:Bold;
    color:#0D1321;

}

.first-part p{
    width:468px;
    height:52px;
    margin-top: 16px;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight:Regular;
    color:rgba(13, 19, 33, 0.714);

}

.first-part button{
    width:171px;
    height:47px;
    margin-top: 32px;
}

.first-part span{
    width:131px;
    height:23px;
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight:SemiBold;
    color:#0D1321;

}
.first-img{
    width:274.17px;
    height:240px;
    /* border:2px solid black; */
    position: right;
}
/* second-content-style */

.second-content-des{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.second-part{
    width:477px;
    height:219px;

}
.second-img{
width:240px;
height:240px;

}

.second-part h3{
    width:477px;
    height:72px;
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight:Bold;
    color:rgba(13, 19, 33, 0.70);

}

.second-part p{
    width:468px;
    height:52px;
    margin-top: 16px;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight:Regular;
    color:rgba(13, 19, 33, 0.714);

}
.second-part button{
    width:171px;
    height:47px;
    margin-top: 32px;
}
.second-part span{
    width:131px;
    height:23px;
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight:SemiBold;
    color:#0D1321;

}
/* third-content-style */

.third-content-des{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.third-part{
    width:477px;
    height:220px;

}
.third-img{
width:240px;
height:240px;

}

.third-part h3{
    width:390px;
    height:72px;
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight:Bold;
    color:rgba(13, 19, 33, 0.70);

}

.third-part p{
    width:468px;
    height:52px;
    margin-top: 16px;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight:Regular;
    color:rgba(13, 19, 33, 0.714);

}
.third-part button{
    width:149px;
    height:48px;
    margin-top: 32px;
}
.third-part span{
    width:131px;
    height:23px;
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight:SemiBold;
    color:#0D1321;

}