@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


body{
    font-family: "Azeret Mono", monospace;
}
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

/* banner-section  */
.banner-header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    /* margin-bottom: 48px; */

}
.banner-header h4{
    margin-left: 150px;
    width:128px;
    height:33px;
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: ExtraBold;
    color:#0D1321;
    
}
.banner-header button{
    margin-right: 150px;
    width:244px;
    height:57px;
    border-radius: 7px;
}
    .banner-header span{
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: SemiBold;
    color:#0D1321;
    
}



.banner-section{
width:1440px;
height:652px;
margin:0 auto;
margin-top: 60px;
background-image: url("../assets/Hero-bg.png");
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.banner-content{
    width:998px;
    height:581px;
    display: flex;

    flex-direction: column;
    align-items: center;
}
.banner-content .banner-img{
    width:240.28px;
    height:240px;
   margin-bottom: 32px;
}
.banner-title{
    width:998px;
    font-family: Azeret Mono;
    font-size: 38px;
    font-weight: ExtraBold;
    color:#0D1321;
    margin-bottom: 24px;
    
}
.banner-title span{
    display: flex;
    justify-content: center;
}
.banner-description{
    width:852px;
    height:52px;
    font-family: Azeret Mono;
    font-size: 11.5px;
    font-weight: Regular;
    color:rgba(13, 19, 33, 0.714);
    margin-bottom: 32px;
}
.banner-description span{
    display:flex;
    justify-content: center;
    align-items: center;

}


.first-btn{
    width:244px;
    height:65px;
    background-color: #0D1321;
    border-radius: 7px;
    cursor: pointer;
}
.first-btn span{
    width:196px;
    height:23px;
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: SemiBold;
    color:#FFFFFF;
}
.dev-information{
    width:1140px;
    height:1393px;
    /* border:2px solid red; */
    margin:148px 152px;
    margin-top: 74px;
    display: flex;
    flex-direction: column;
    background-color: rgba(13, 19, 33, 0.02);
    
}
.dev-section{
    width:946px;
    height:1233px;
    /* border:2px solid black; */
    margin-left: 97px;
    margin-right: 97px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.dev-title-section{
    width:852px;
    height:113px;
    /* border:2px solid yellow; */
    display:flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 80px; */
    margin-left: 47px;
margin-right: 47px;
margin-bottom: 48px;
}
.dev-title-section h2{
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: ExtraBold;
    color:#0D1321;
}

.dev-title-section p{
    font-family: Azeret Mono;
    font-size: 11.5px;
    font-weight:Regular;
    color:rgba(13, 19, 33, 0.714);
    margin-top: 24px;
}
.dev-title-section p span{
    display:flex;
    justify-content: center;
    align-items: center;

}
.dev-content{
    width:946px;
    height:336px;
    /* border:2px solid blue; */
    margin-bottom: 32px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.dev-content .dev-content-description{
    width:850px;
    height:240px;
    /* border:2px solid green; */
    margin:48px auto;
 
}
/* first-content-style */
.first-content-des{
display:flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
    
}
.first-part{
    width:477px;
    height:219px;
}


.first-part h3{
    width:392px;
    height:72px;
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight:Bold;
    color:#0D1321;

}

.first-part p{
    width:468px;
    height:52px;
    margin-top: 16px;
    font-family: Azeret Mono;
    font-size: 11.5px;
    font-weight:Regular;
    color:rgba(13, 19, 33, 0.714);

}


.first-part button{
    width:171px;
    height:47px;
    margin-top: 32px;
}

.first-part span{
    width:131px;
    height:23px;
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight:SemiBold;
    color:#0D1321;

}
.first-img{
    width:274.17px;
    height:240px;
    /* border:2px solid black; */
    position: right;
}
/* second-content-style */

.second-content-des{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.second-part{
    width:477px;
    height:219px;

}
.second-img{
width:240px;
height:240px;

}

.second-part h3{
    width:477px;
    height:72px;
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight:Bold;
    color:rgba(13, 19, 33, 0.70);

}

.second-part p{
    width:468px;
    height:52px;
    margin-top: 11.5px;
    font-family: Azeret Mono;
    font-size: 11.5px;
    font-weight:Regular;
    color:rgba(13, 19, 33, 0.714);

}
.second-part button{
    width:171px;
    height:47px;
    margin-top: 32px;
}
.second-part span{
    width:131px;
    height:23px;
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight:SemiBold;
    color:#0D1321;

}
/* third-content-style */

.third-content-des{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.third-part{
    width:477px;
    height:220px;

}
.third-img{
width:240px;
height:240px;

}

.third-part h3{
    width:390px;
    height:72px;
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight:Bold;
    color:rgba(13, 19, 33, 0.70);

}

.third-part p{
    width:468px;
    height:52px;
    margin-top: 11.5px;
    font-family: Azeret Mono;
    font-size: 11.5px;
    font-weight:Regular;
    color:rgba(13, 19, 33, 0.714);

}


.third-part button{
    width:149px;
    height:48px;
    margin-top: 32px;
}
.third-part span{
    width:131px;
    height:23px;
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight:SemiBold;
    color:#0D1321;

}

/* middle part start here */

.inspired-container{
    width:1140px;
    height:775px;
    margin-top: 90px;
    margin-left: 148px;
    margin-right: 152px;
    /* border:2px solid red; */

}
.inspired-content{
    width:852px;
    height:113px;
    /* border:2px solid yellow; */
    margin-left: 144px;
    margin-right: 144px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
}

.inspired-content h4{
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight:ExtraBold;
    color:#0D1321;
}
.inspired-content p{
    font-family: Azeret Mono;
    font-size: 11px;
    font-weight:Regular;
    color:rgba(13, 19, 33, 0.714);
    margin-top: 24px;
}

.inspired-content p span{
    display:flex;
    justify-content: center;
    align-items: center;
}
.video-container{
width:1140px;
height:614px;
/* border:2px solid black;  */
border-radius: 7px;
border:1px solid rgba(128, 128, 128, 0.84); 

}

.video-content iframe{
    width:1076px;
    height:550px;
    margin:32px ;
    background-color: #0D1321;
    border-radius: 16px;
    
}
/* language container section start from here */

.language-section{
    width:1140px;
    height:460px;
    margin-top: 151px;
    /* border:2px solid red; */
    margin:150px;
    margin-bottom: 70px;
   
}
.language-section-content{
    width:946px;
    height:113px;
    /* border:2px solid blue; */
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-left:97px;
    margin-right:97px;
}

.language-section-content h4{
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight:ExtraBold;
    color:#0D1321;
    margin-bottom: 24px;
}

.language-section-content p{
    width:852px;
    height:52px;
    font-family: Azeret Mono;
    font-size: 11.5px;
    font-weight:Regular;
    color:rgba(13, 19, 33, 0.714);
    margin-bottom: 24px;
}
.language-section-content p span{
    display:flex;
    justify-content: center;
    align-items: center;
}
.language-content{
    width:1140px;
    height:299px;
    /* border:2px solid green; */
    margin-top: 48px;
    display:flex;
    flex-direction: row;
    gap:24px;
    
}
.first-content{
    width:364px;
    height:299px;
    /* border:2px solid chartreuse; */
    border-radius: 4px;
    background-color: rgba(255, 76, 30, 0.05);
}
.second-content{
    width:364px;
    height:299px;
    /* border:2px solid chartreuse; */
border-radius: 4px;
background-color: rgba(0, 76, 232, 0.05);
}
.third-content{
    width:364px;
    height:299px;
    /* border:2px solid chartreuse; */
    border-radius: 4px;
    background-color: rgba(255, 223, 0, 0.05);
}
.content-des{
    width:284px;
    height:219px;
    /* border:2px solid black; */
    margin:40px;
}
.content-img{
    width:56px;
    height:56px;
    margin-bottom: 24px;
}
.language-content h4{
    width:284px;
    height:36px;
    font-size: 24px;
    font-family: Azeret Mono;
    font-weight: ExtraBold;
    color:rgba(13, 19, 33, 1.00);
    margin-bottom: 8px;

}

.language-content p{
    width:284px;
    height:52px;
    font-size: 12px;
    font-family: Azeret Mono;
    font-weight: Regular;
    color:rgba(13, 19, 33, 0.714);
    margin-bottom: 24px;

}

.language-content a{
    width:284px;
    height:19px;
    font-size: 16px;
    font-family: Azeret Mono;
    font-weight: Bold;
    color:rgba(13, 19, 33, 1.00);
}

/* footer section style start here */

.footer-section-content{
    width:1140px;
    height:313px;
    /* border:2px solid red; */ 
    margin-left:150px;
    margin-right: 150px;
    margin-bottom: 80px;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.5);
   background-blend-mode: overlay; 
   background-image: url('../assets/handshake.jpg');
   background-position: 50% 50%;
   background-size: 1140px 313px;
    background-repeat: no-repeat;
    display:flex;
    align-items: center;
    justify-content: center;

}
.footer-section-des{
    width:1044px;
    height:185px;
margin-left: 48px;
margin-right:48px;
margin-top: 64px;
margin-bottom: 64px;
     /* border:2px solid white;  */
    display:flex;
    flex-direction: column;
    align-items: center;
}

.footer-section-des h3{
    font-size: 30px;
    font-weight: Bold;
    font-family: Azeret Mono;
    color: #FFFFFF;
}


.footer-section-des p{
    width:606px;
    height:52px;
    font-size: 11px;
    font-weight: Regular;
    font-family: Azeret Mono;
    color: rgba(255, 255, 255, 0.348);
    /* border:2px solid white; */
    margin-bottom: 24px;

}
.input-type{
    width:684px;
    height:57px;
    margin-left: 180px;
    margin-right: 180px;
    /* border:2px solid white; */
display:flex;
flex-direction: row;
justify-content: space-between;
}
.input-type input[type=text]{
    width:548px;
    height:57px;
    border-radius: 7px;
    font-size: 12px;
    font-weight: Regular;
    font-family: Azeret Mono;
    color:rgba(13, 19, 33, 0.40);
}
.input-type input[type=Submit]{
    width:120px;
    height:57px;
    border-radius: 7px;
    font-size: 18px;
    font-weight: SemiBold;
    font-family: Azeret Mono;
    color:#0D1321;
}
.last-content{
    width:1440px;
    height:100px;
    margin:0 auto;
    /* border: 2px solid red; */
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(13, 19, 33, 0.03);
}
.last-content-des{
    width:1140px;
    height:36px;
    /* border:2px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.last-content-des p{
   width:456px;
   height:23px;
    font-size: 20px;
    font-weight: SemiBold;
    font-family: Azeret Mono;
    color:0D1321;

}
.anchor img{
    width:37.01px;
    height:35px;
    margin-left: 18px;
    color:#FFFFFF;
    
}
